<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>list index page</h2>
    <form id="add-list-form" method="POST" action="/lists">
        <h2>Add List</h2>
    <label>List Title</label>
    <input type="text"  required name="title">
    <input type="submit" value="Add List"/>
    </form>
</br>
    <!-- <table>
      <thead>
        <tr id="list-table-key">
          <th>List Name</th>
          <th>delete?</th>
        </tr>
      </thead>
      <tbody> -->
          <ul>
        <%lists.forEach(function(l) { %>
        <!-- <tr class="content"> -->
          <!-- <td> -->
              
            <!-- </td> -->
          <!-- <td> -->
              
          <form id="delete-list-form" action="/lists/<%=l.id%>?_method=DELETE" method="POST" >
              <!-- action="/lists?_method=DELETE"> -->
            <button type="submit">delete</button>
            <!-- <input type="submit" value="Delete List"> -->
            <li>
            <a href="/lists/<%= l._id%>"><%=l.title%></a>
        </li>
          <!-- <form id="delete-list-form" method="DELETE" action="/lists">
            </form></td> -->
        <!-- </tr> -->
        <% }) %>
    </ul>
      <!-- </tbody>
    </table> -->
  </body>
</html>
