<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>list index page</h2>
    <h2>Add List</h2>
    <form id="add-list-form" method="POST" action="/lists">
        <!-- action="/users/??/lists"  -->
    <label>List Title</label>
    <input type="text" required>
    <input type="submit" value="Add List"/>
    </form>
</br>
    <table>
      <thead>
        <tr id="list-table-key">
          <th>List Name</th>
          <th>delete?</th>
        </tr>
      </thead>
      <tbody>
        <%lists.forEach(function(l) { %>
        <tr class="content">
          <td><a href="/lists/<%= l._id%>"><%=l.title%></a></td>
          <td>Delete button here</td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
