<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>list index page</h2>
    <form id="add-list-form" method="POST" action="/lists">
        <h2>Add List</h2>
    <label>List Title</label>
    <input type="text"  required name="title">
    <input type="submit" value="Add List"/>
    </form>
</br>
    <table>
      <thead>
        <tr id="list-table-key">
          <th>List Name</th>
          <th>delete?</th>
        </tr>
      </thead>
      <tbody>
        <%lists.forEach(function(l) { %>
        <tr class="content">
          <td><a href="/lists/<%= l._id%>"><%=l.title%></a></td>
          <td>
          <form id="delete-list-form" method="post" action="/lists/<%=l._id%>?_method=DELETE">
            <input type="submit" name="_method" value="DELETE">
            <!-- <input type="submit" value="Delete List"> -->
            </form>

          <!-- <form id="delete-list-form" method="DELETE" action="/lists">
            </form></td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
