<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css">
    <title>Wishlist City</title>
  </head>
  <body >
    <div id="title-wrapper">
    <h2>Wishlist City</h2>
    </div>
    <nav>
        <div id="nav-bar-wrapper">
          <a href="/lists">home</a>
            <% if (user) { %>
            <span>Hi <%= user.name %> </span>
            <button class="nav-bar-button"><a href="/logout">Log Out</a></button>
            <% } else { %>
            <a href="/auth/google"> Login with Google</a>
            <% } %>
        </div>
      </nav>
