<%- include('partials/header') %>
  <body>
    <!-- code will go here  -->
    <div class="index-page">
      <div id="index-header" class="index-page">
    <h2>First time here?</h2>
      </div>
    <p class="index-page">A big about the app...</P>
    <button class="index-page"><a class="index-page" href="/auth/google"> Login with Google</a></button>
    </div>
    
<%- include('partials/footer') %>

