<%- include('partials/header') %>
  <body>
    <div class="index-page">
    <div id="full-index-page">
        <div id="index-header" class="index-page">
          <h2>Welcome</h2>
        </div>
        <p class="index-page">A wishlist app by Sophie Damelio</P>
        </br>
        <button class="index-page"><a class="index-page" href="/auth/google"> Login with Google</a></button>
      </div>
    </div>
    
<%- include('partials/footer') %>

