<%- include('partials/header') %>
  <body>
    <div class="index-page">
    <div id="full-index-page">
        <div id="index-header" class="index-page">
          <h2>Welcome</h2>
        </div>
        <p class="index-page">A wishlist app by Sophie Damelio</P>
        <p class="index-page">You can login using Google and create lists. To add items to a list you can click on the list you want to add to, then add items on the list details page. Everything is automatically saved and tied to only your account.</p>
        <button class="index-page"><a class="index-page" href="/auth/google"> Login with Google</a></button>
      </div>
    </div>
    
<%- include('partials/footer') %>

