@import url("https://use.typekit.net/pgj0sqt.css");
@import url("https://use.typekit.net/pgj0sqt.css");
* {
  background-color: blanchedalmond;
}

.buttonClass, .show-page button, .home-page button, .index-page button, nav button {
  color: #6e2e35;
  background-color: #d69362;
  font-family: "New Order", sans-serif;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  border: none;
}

.buttonHoverClass, .show-page button:hover, .home-page button:hover, .index-page button:hover, nav .nav-bar-button:hover {
  color: blanchedalmond;
  background-color: #473e3b;
  font-family: "New Order", sans-serif;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  border: none;
}

.inputClass, .show-page input, .home-page input {
  border: 1.5px solid #c45649;
  font-family: "New Order", sans-serif;
  border-radius: 25px;
}

.threeBubsBgClass, .home-page #full-home-page, .index-page #full-index-page {
  background-image: url("https://i.imgur.com/0I7lXeI.png");
  background-color: blanchedalmond;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.singleBgClass, .show-page {
  background-image: url("https://i.imgur.com/rIwvHeK.png");
  background-color: blanchedalmond;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listClass, body #each-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "New Order", sans-serif;
  padding: 1vh;
  align-items: baseline;
}

h2 {
  color: #c45649;
  font-family: "Opake", sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

nav #nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  color: #473e3b;
  justify-content: space-evenly;
  font-family: "New Order", sans-serif;
}
nav a {
  color: #c45649;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav h2 {
  display: flex;
  flex-direction: row;
  color: #c45649;
  justify-content: space-evenly;
}

.index-page #full-index-page {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  align-items: center;
  flex-wrap: nowrap;
}
.index-page #index-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index-page h2 {
  color: #473e3b;
  font-family: "Opake", sans-serif;
}
.index-page p {
  color: #473e3b;
  font-family: "New Order", sans-serif;
}
.home-page #add-list-form {
  font-family: "New Order", sans-serif;
}
.home-page #add-list-form {
  flex-direction: row;
  flex-wrap: nowrap;
}
.home-page button {
  align-items: center;
}
.home-page button:hover {
  justify-items: center;
}
.home-page #full-home-page {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.home-page #input-text {
  color: #473e3b;
}

.show-page {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: "New Order", sans-serif;
  display: row;
}
.show-page .list-of-items {
  color: #473e3b;
}
.show-page #input-add-item {
  color: #473e3b;
}

/*# sourceMappingURL=main.css.map */
