// define standard variables and values for website

// logistics first, frameworks
// font, text size, border radius, buttons, links (change ejs to button?)
// lists, inputs (change?), shadows?, margins, positioning?

// delete button inline with list name, on right
// logout button on right
// home on left
// hello user in center (hi, you)
// new list form
// new item form

// nest these like they should be
// image - vh 100?

@import url("https://use.typekit.net/pgj0sqt.css");
@import url("https://use.typekit.net/pgj0sqt.css");

$content-font: 'New Order', sans-serif;
$header-font: 'Opake', sans-serif;
$header-font-size: 25px;
$header-font-weight: lighter;
$header-position: flex;
$header-direction: row;
$header-align: space-around;


$flex-column: column;
$flex-center: center;

$button-width: 100px;
$button-height: 30px;
$button-radius: 25px;
$button-border: none;

$underline-hover: underline;
$no-text-decoration: none;

$wrap: wrap;
$no-wrap: nowrap;


$bg-img-height: 100vh;
$bg-position: center;
$bg-repeat: no-repeat;
$bg-size: cover;

$color_red: red;
$color_blue: blue;
$color_pink: pink;

$three_bubs_bg_img: url("https://i.imgur.com/YCF2ZwE.png");


h2 {
  color: $color_red;
  font-family: $header-font;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
}

// $color_red: red;

 .nav-bar-button {
  color: $color_red;
  background-color: $color_pink;
  font-family: $content-font;
  border-radius: $button-radius;
  width: $button-width;
  height: $button-height;
  border: $button-border;
}
.nav-bar-button:hover {
    color: $color_red;
    background-color: $color_blue;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
  }


a {
    color: $color_red;
    text-decoration: $no-text-decoration;

  }

#home-link {
    text-decoration: $no-text-decoration;
    }

#home-link:hover {
    text-decoration: $underline-hover;
    };

#nav-bar-wrapper {
    display: $header-position;
    flex-direction: $header-direction;
    color: $color_blue;
    justify-content: $header-align;
    font-family: $content-font;
  }

#title-wrapper {
    display: $header-position;
    flex-direction: $header-direction;
    color: $color_red;
    justify-content: $header-align;
  }

// do i want the index page left aligned?

.index-page #index-header {
    display: $header-position;
    flex-direction: $flex-column;
    justify-content: $flex-center;
}

.index-page h2 {
    color: $color_blue;
    font-family: $header-font;
};

.index-page p {
    color: $color_blue;
    font-family: $content-font;
};

.index-page button {
    color: $color_red;
    font-family: $content-font;
}

#add-list-form {
    font-family: $content-font;
}

#add-list-form {
    flex-direction: $header-direction;
    flex-wrap: $no-wrap;
}

 .standard-btn button {
    color: $color_red;
    background-color: $color_pink;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
}

#add-list-form:hover button {
    color: $color_red;
    background-color: $color_blue;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
}



#each-list {
    display: $header-position;
    flex-wrap: $wrap;
    font-family: $content-font;
}

#body-wrapper {
    background-image: $three_bubs_bg_img;
    background-color: $color_pink;
    height: $bg-img-height;
    background-position: $bg-position;
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}