// define standard variables and values for website

@import url("https://use.typekit.net/pgj0sqt.css");
@import url("https://use.typekit.net/pgj0sqt.css");

$content-font: 'New Order', sans-serif;
$header-font: 'Opake', sans-serif;
$header-font-size: 25px;
$header-font-weight: lighter;

$button-width: 100px;
$button-height: 30px;
$button-radius: 25px;
$button-border: none;

$input-border: 1.5px solid rgb(196, 86, 73, 77);

$underline-hover: underline;
$no-text-decoration: none;

$bg-img-height: 100vh;
$bg-position: center;
$bg-repeat: no-repeat;
$bg-size: cover;

$color-red: rgb(196, 86, 73, 77);
$color-dark-red: rgb(110, 46, 53, 43);
$color-purple: rgb(163, 153, 195);
$color-green: rgb(106, 147, 121);
$color-orange: rgb(214, 147, 98);
$color-beige: rgb(255,235,205);
$color-brown: rgb(71, 62, 59, 28);
$color-medium-brown: rgb(163, 112, 75);
$color-light-brown: rgb(186, 171, 149);

$standard-padding: 10vh;
$small-padding: 1vh;


$three_bubs_bg_img: url("https://i.imgur.com/O37l70H.png");

* {
    background-color: $color-beige;
}

.buttonClass {
    color: $color-dark-red;
    background-color: $color-orange;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
}

.buttonHoverDeleteClass {
    color: $color-beige;
    background-color: $color-brown;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
}

.buttonHoverAddClass {
    color: $color-beige;
    background-color: $color-medium-brown;
    font-family: $content-font;
    border-radius: $button-radius;
    width: $button-width;
    height: $button-height;
    border: $button-border;
}

.inputClass {
    padding-left: 5px ;
    border: $input-border;
    font-family: $content-font;
    border-radius: $button-radius;
}


.threeBubsBgClass {
    background-image: $three_bubs_bg_img;
    background-color: $color-beige;
    height: $bg-img-height;
    background-position: $bg-position;
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}

.listClass {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $content-font;
    padding: $small-padding;
    align-items: baseline;
}


#title-wrapper {
    h2 {
    color: $color-red;
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
    text-align: center;
    }
}


.main-nav { 
    #nav-bar-wrapper {
        display: flex;
        flex-direction: row;
        color: $color-brown;
        justify-content: space-evenly;
        font-family: $content-font;
    }

    a {
        color: $color-red;
        text-decoration: $no-text-decoration;
        background-color: transparent;
    }

    a:hover {
        font-weight: bolder;
    }

    button {
       @extend .buttonClass;
       a {
           color: $color-beige
       }
    }

    .nav-bar-button:hover {
        @extend .buttonHoverDeleteClass
    }
}

.index-page {
    
    #full-index-page {
        background-image: $three_bubs_bg_img;
        background-color: $color-beige;
        height: $bg-img-height;
        background-position: $bg-position;
        background-repeat: $bg-repeat;
        background-size: $bg-size;

        display: flex;
        flex-direction: column;
        padding-top: $standard-padding;
        align-items: center;
        flex-wrap: nowrap;
    }

    #index-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        color: $color-brown;
        font-family: $header-font;
    }

    p {
        color: $color-brown;
        font-family: $content-font;
    }
    button {
        color: $color-dark-red;
        background-color: $color-orange;
        font-family: $content-font;
        border-radius: $button-radius;
        width: $button-width;
        height: $button-height;
        border: $button-border;
        padding-top: 10px;
        padding-bottom: 40px;
        display: flex;
        align-items: stretch;
    
    }
    button:hover {
        color: $color-beige;
        background-color: $color-medium-brown;
        font-family: $content-font;
        border-radius: $button-radius;
        width: $button-width;
        height: $button-height;
        border: $button-border;
    }
    
    a {
        color: $color-beige;
        background-color: $color-orange;
        text-decoration: $no-text-decoration;
    }
    a:hover {
        color: $color-beige;
        background-color: $color-medium-brown;
        text-decoration: $no-text-decoration;
    }
    
}



.home-page {
    h2 {
        color: $color-red;
        font-family: $header-font;
    }

    h3 {
        font-family: $content-font;
        font-weight: 600;
        color: $color-brown;
        justify-content: left;
    }

    #add-list-form {
        font-family: $content-font;
        display: flex;
        align-items: center;
        align-content: center;
        gap: 3vh;

        button:hover {
            @extend .buttonHoverAddClass
        }
    }

    button {
        @extend .buttonClass;
        align-items: center;
    }

    button:hover {
        @extend .buttonHoverDeleteClass;
        justify-items: center;
    }

    #full-home-page {
        @extend .threeBubsBgClass;
        padding: $standard-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    } 

    input {
        @extend .inputClass;
    }

    #input-text {
        color: $color-brown;
    } 
    #each-list {
        @extend .listClass;
        a {
            color: $color-brown;
            text-decoration: $no-text-decoration;
        }

        a:hover {
            font-weight: bolder;
        }
    }
}


.show-page {
    @extend .threeBubsBgClass;
    padding: $standard-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-family: $content-font;
    display: row;

    h2 {
        font-family: $header-font;
        color: $color-red;
    }

    h3 {
        font-weight: 600;
        color: $color-brown;
    }

    button {
        @extend .buttonClass
    }
    button:hover {
        @extend .buttonHoverAddClass;
    }

    input {
        @extend .inputClass;
    }

    .list-of-items {
        color: $color-brown
    }

    #input-add-item {
        color: $color-brown;
    }

    #add-item-title {
        justify-content: left;
    }
    #each-item {
        padding-left: 0px;
        gap: 3vh;
        @extend .listClass;
        button:hover {
            @extend .buttonHoverDeleteClass
        }
    }
}